#play {
    margin-top: 50px;
    text-align: center;
}

#section-title {
    margin: 20px;
}

#plateau {
    text-align: center;
    margin: auto;
    border: 1px black;
    background-color: grey;
}

#plateau td {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    border: 2px solid #1E1E1E;
}

#plateau td.joueur0 {
    background: transparent;
}

#plateau td.joueur1 {
    background: url("../img/circle-white.png") no-repeat center center;
    background-size: contain;
    z-index: 1;
}

#plateau td.joueur2 {
    background: url("../img/circle-black.png") no-repeat center center;
    background-size: contain;
    z-index: 1;
}

#data {
    padding: 30px 0px;
}